.inner-col{
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 5px -5px 122px -35px rgba(117,117,117,1), inset 6px -5px 30px -12px rgba(165,12,25,0.6);
  -moz-box-shadow: inset 5px -5px 122px -35px rgba(117,117,117,1), inset 6px -5px 30px -12px rgba(165,12,25,0.6);
  box-shadow: inset 5px -5px 122px -35px rgba(117,117,117,1), inset 6px -5px 30px -12px rgba(165,12,25,0.6);
  padding-bottom: 1%;
}

.panel{ /* override change in panel from other bg*/
  background-color: #635D5A;
}

#mainpanel{
  margin-top: 20px;
}

body{
  background-attachment: fixed;
  background-image: url(../images/background_img.gif);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  padding: 0 0.5rem 0 0.5rem;
  display:inline;
  background-color:rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 5px -5px 40px 0px rgba(117,117,117,1);
  -moz-box-shadow: inset 5px -5px 40px 0px rgba(117,117,117,1);
  box-shadow: inset 5px -5px 40px 0px rgba(117,117,117,1);
}

/*webfront stuffs*/

@font-face {
  font-family: 'bpmonoregular';
  src: url('BPmono-webfont.eot');
  src: url('BPmono-webfont.eot?#iefix') format('embedded-opentype'),
  url('BPmono-webfont.woff') format('woff'),
  url('BPmono-webfont.ttf') format('truetype'),
  url('BPmono-webfont.svg#bpmonoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans500';
  src: url('MuseoSans_500-webfont.eot');
  src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('MuseoSans_500-webfont.woff2') format('woff2'),
  url('MuseoSans_500-webfont.woff') format('woff'),
  url('MuseoSans_500-webfont.ttf') format('truetype'),
  url('MuseoSans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LotsOfDotz';
  src:
  url('LotsOfDotz.eot?#iefix') format('embedded-opentype'),
  url('LotsOfDotz.woff') format('woff'),
  url('LotsOfDotz.ttf') format('truetype'),
  url('LotsOfDotz.svg#LotsOfDotz') format('svg'); font-weight: normal; font-style: normal; }

  .alphabet li
  {
    list-style-type: none;
    font-family: 'bpmonoregular', monospace;
    font-size: 0.8rem;
    width:auto;
    margin-bottom: 1px;
  }

  .alphabet li span{
        background-color:#F7F7F7;
    display:inline-block;
    border-top: 3px inset #A50C18;
    padding: 3px 3px 3px 3px;
    line-height:94%;
    border-bottom: 1px solid #CCCCCC;
    border-right: 3px outset #635D5A;
    border-left: 1px solid #CCC;
  }

  /*social media sticky */

  #social {
    min-height: 123px;
    width:36px;
    position: fixed;
    display: block;
    top: 25%;
    z-index: 999;
  }

  #socialvert {
    min-height: 36px;
    width:123px;
    position: static;
    display: block;
    bottom: 10px;
    z-index: 999;
  }

  #social img{
    position:static;
    margin-bottom: 10px;
  }

  .specialborders /*some extra styling for the top bar*/
  {
    border-bottom:1px solid #A50C18;
    border-top: 1px double #A50C18;
    border-left: 1px inset #A50C18;
    border-right: 3px outset #635D5A;
    padding:0px;
  }

  .speaking-image, .contact-image,.teaching-image {
    background-color: black;
    background-position:top;
    background-repeat: no-repeat;
    height:350px;
  }

  .speaking-image{
    background-color: #FFFFFF;
    background-size: cover;
    background-image: url("../images/ACTW_bw.jpg");
        background-position:0 0px;
  }

  .contact-image{
    background-color: #FFFFFF;
    background-size: cover;
    background-image: url("../images/group_3t.jpg");
    background-position:0 0px;
  }

  .teaching-image{
    background-image: url("../images/teaching.jpg");
    background-size: cover;
    background-position:0 0px;
  }

  nav.top-bar {
    text-align:center;
  }

  section.top-bar-section {
    display: inline-block;
  }

  .up{
    font-family: 'museo_sans500' monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width:100%;
    font-size: 4rem;
    display:inline-block;
  }

  .up a:hover{

    text-decoration: none;
    color:#CCCCCC;
    transform: translate3d(0px, -150px, 0px);
  }

.columns :first-of-type p{
  padding-top: 20px;
}
  .columns p:first-of-type:first-letter {
    font-family: 'LotsOfDotz', sans-serif;
    font-size: 200%;
    background-color: #A50C18;
    color: #FFF;
    float: left;
    font-size: 3rem;
    margin-right: 1rem;
    margin-bottom: -0.1rem;
    padding: 0.8rem;
    padding-right: 1.2rem;
    border-radius: 2px;
    box-shadow: 0 0 10px -2px #999999;
  }
