/*clearfix*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

.option-combo{

border:1px solid #635D5A;
	border-top: none;
	margin-bottom:10px;
}


.t{
cursor:pointer;
display:inline-block;
}

#options a {color:black;border-bottom:1px solid transparent;}
#options li a.selected {border-bottom:1px solid black;}
#options #options_title{
	line-height: 100%;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	letter-spacing: -0.5px;
	font-size: -0.2%;
	color: white;
}
/*controls the styling of the main sort links*/

#hidden a:hover {
	color:white;
	border-bottom:#635D5A;
}

#options #hidden li a.selected {color:white;border:none;}
/*control the styling of the hidden links*/

.reveal-modal img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.reveal-modal h4{
text-align: center;
background-color: #CCC;

font-family: 'Ropa Sans', Verdana, Helvetica, Sans-Serif;
}

.reveal-modal p{

/*some styles here */
font-family: Verdana, Helvetica,Sans-Serif;
font-size: 0.9em;
text-align: center;
line-height: normal;
letter-spacing: 0px;
color: #635D5A;
}

                      /* --------- STYLING --------- */
a {
	text-decoration:none;
	outline:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;}

a:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;}

                       /* ----- SORT LINKS -----*/
#options a { /*styles for the sort links*/
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	transition: all .6s ease-out;
}

#options a:hover {
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	transition: all .6s ease-out;
	}

#options li {
	list-style: none;
	width: 50%;
	font-size: 0.7em;
	border-bottom:1px dotted #cccccc;
	border-right: 1px dotted #cccccc;
	padding-left: 5px;
	color: #635D5A;
}


/*controls the styling of the sort links*/

#hidden{
	background-color: #ccc;
	overflow:none;
	max-height:160px;
	height: 100%;
	padding-top: 10px;
	}

#hidden a {
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	transition: all .6s ease-out;
	border-bottom:none;
}

#hidden h5{
	background-color: #635D5A;
	margin-left: -15px;
	padding-top: 5px;
}

#options div p {
width:100%;
background-color: #645D57;
}

/* ----- folio-items ----- */
.element {
	float:left;
	margin:15px;
	padding: 0px;
	width: inherit;
	-webkit-transition: all .6s ease-out;
	-moz-transition: all .6s ease-out;
	transition: all .6s ease-out;
	border:1px solid #ccc;
	min-height: 120px;
}

/*this denotes the individual boxes.*/

#folio-item h3{
	font-size: 90%;
}
#container{
min-width: 120px; /*control size of image box*/
	max-width: 58.25rem;
/*	border:1px solid pink;*/

}


/*Styles for the individual element hover effects*/

.grid li {
	box-sizing:border-box;
	display: inline-block;
	min-width: 120px; /*control size of image box*/
	max-width: 17rem;
	height: auto;
	text-align: left;
	position: relative;
}

.grid figure {
	padding: 0px;
	margin: 0px;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.grid figcaption {
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	border-top: 1px solid #A50C18;
	background: #CCC;
	margin: 0;
	color: #A50C18;
}

.grid figcaption a { /*styles the open project link*/
	position: absolute;
	width:8rem;
	text-align: center;
	border-radius: 2px;
	background: #404041;
	color: #fff;
}

/* Individual Caption Styles */


/* Caption Style 5 */

ul.grid.cs-style-5{
	background: #635D5A;
	margin:0px;
	padding: 0px;
	width:100%;
}
.cs-style-5 figure img {
	z-index: 10;
	height:inherit;
	display: inline;
	width:100%;
	margin: 0px;
	padding:0px;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.0);
	-moz-transform: scale(0.0);
	-ms-transform: scale(0.0);
	transform: scale(0.0);
	margin: 0px;
	padding:0px;
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	margin: 0px;
	padding-left:5px;
	padding-right: 5px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: relative;
	max-width: 8em;
    display: block;
	margin: 0px;
	padding:0px;
}


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
