		 <!-- start footer html -->
		<div class="row">
			<div class="columns small-12 medium-11 medium-offset-1 large-11">
				 <p id="socialvert">
				  <a href="https://www.linkedin.com/pub/perry-eising/4a/ba6/a92"><img src="images/perry-linkedin.gif" alt="Work" title="Work" width="36"  height="36"></a>
				  <a href="https://twitter.com/perrysetgo"><img src="images/perry-twitter.gif" alt="Talk" title="Talk" width="36"  height="36"></a>
				  <a href="http://lanyrd.com/profile/perrysetgo/"><img src="images/perry-lanyrd.gif" alt="Meet" title="Meet" width="36"  height="36"></a>
				</p>
			</div>
		</div>
		<!-- end footer.html -->