<!-- start header.html -->
<div class="row">
   <div class="medium-11 medium-offset-1 large-11 small-12">  
     <div class="specialborders">
       <nav class="top-bar " data-topbar role="navigation">
       <ul class="title-area">
         <li class="name"></li>
         <li class="toggle-topbar menu-icon">
           <a href="#" class="specialborders_a">
           <span>MENU</span>
           </a>
         </li>
       </ul>
         <section class="top-bar-section">
           <!-- Left Nav Section -->
           <ul class="left">
	            <li><a href="index.php">home</a></li>
	            <li><a href="portfolio.php">portfolio</a></li>
	            <li><a href="skillset.html">skillset</a></li>
	            <li><a href="contact.php">connect</a></li>
	            <li><a href="blog.html">blog</a></li>          
	          </ul>
           <!-- end left nav section -->
         </section>
       </nav>
     </div>
   </div>
</div>
<!--end header.html -->